
@{
    ViewData["Title"] = "DisplayMovie";
}
@model Movie

<h1>DisplayMovie</h1>
<h4>Confirmed Movie Information:</h4>
<br />
<p style="margin-left:2em"><b>ID</b>: @Model.ID</p>
<p style="margin-left:2em"><b>Title</b>: @Model.Title</p>
<p style="margin-left:2em"><b>Genre</b>: @Model.Genre</p>
<p style="margin-left:2em"><b>Year</b>: @Model.Year</p>
<p style="margin-left:2em"><b>Actors</b>:</p>
@foreach (string actor in Model.Actors)
{
    <p style="margin-left:4em">@actor</p>
}
<p style="margin-left:2em"><b>Directors</b>:</p>
@foreach (string director in Model.Directors)
{
    <p style="margin-left:4em">@director</p>
}
<br />
<h4>Success!</h4>
<p>Movie "@Model.Title" has been registered!</p>
